<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Collapsible Header for Map -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Map</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Map Container -->
  <div id="map" style="height:50vh; width:100%;"></div>

  <!-- Form for Device Data -->
  <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">ID</ion-label>
      <ion-input formControlName="id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Latitude</ion-label>
      <ion-input formControlName="lat" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Longitude</ion-label>
      <ion-input formControlName="lng" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Direction</ion-label>
      <ion-input formControlName="direction" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Date (Unix)</ion-label>
      <ion-input formControlName="dateunix" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Battery</ion-label>
      <ion-input formControlName="battery" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Speed</ion-label>
      <ion-input formControlName="speed" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">ID Device</ion-label>
      <ion-input formControlName="iddevice" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Steps</ion-label>
      <ion-input formControlName="steps" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Heartbeat</ion-label>
      <ion-input formControlName="heartbeat" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Accuracy</ion-label>
      <ion-input formControlName="accuracy" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">WiFi</ion-label>
      <ion-input formControlName="wifi"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Note</ion-label>
      <ion-input formControlName="note"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Submit</ion-button>
  </form>
</ion-content>
